@font-face {
  font-family: "abibaspro-bold";
  src: url("../assets/adineuePRO-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "abibaspro-regular";
  src: url("../assets/adineuePRO-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "abibasdin-bold";
  src: url("../assets/AdihausDIN-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "abibasdin-regular";
  src: url("../assets/AdihausDIN-Regular.woff2") format("woff2");
}

.container {
  position: relative;
  background-color: #fff;
}

.calloutbarContainer {
  max-width: 1280px;
  margin: 0 auto 0 auto;
  display: flex;
  border-bottom: 1px solid #d9dcdd;
  font-size: 14px;
  font-family: "abibasdin-regular";
  line-height: 20px;
}

.calloutsbars {
  width: 33%;
  display: flex;
  box-sizing: border-box;
}

.calloutbar {
  padding: 25px 30px 25px 30px;
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  flex-grow: 1;
}

.calloutbarIn {
  display: flex;
  justify-content: center;
}

.calloutbarCopy {
  width: 200%;
  display: inline-block;
  vertical-align: top;
}

.learnmoreContainer {
}

.learnmore {
}

.emaillogo {
  display: inline-block;
  vertical-align: top;
}

img {
  width: 35px;
  height: 40px;
  margin-right: 8px;
  border-radius: 18px;
}
