@font-face {
  font-family: "abibaspro-bold";
  src: url("../assets/adineuePRO-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "abibaspro-regular";
  src: url("../assets/adineuePRO-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "abibasdin-bold";
  src: url("../assets/AdihausDIN-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "abibasdin-regular";
  src: url("../assets/AdihausDIN-Regular.woff2") format("woff2");
}

/* a:link {
  text-decoration: underline;
} */

.container {
  cursor: default;
}

.header {
  font-size: 26px;
  line-height: 24px;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "abibaspro-bold";
  letter-spacing: 1.5px;
}

.text {
  margin-left: 15px;
  font-family: "abibasdin-regular";
  font-size: 16px;
  text-transform: none;
  line-height: 22px;
}

.close {
  height: 34px;
  width: 34px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 5px;
  right: 5px;
  transform: translate(50%, -50%);
  cursor: pointer;
  border: solid 1px #000;
  background-color: #fff;
}

.icon {
  display: flex;
  size: 50px;
  font-size: 25px;
  font-family: "abibaspro-regular";
  font-weight: 300;
}
