@font-face {
  font-family: "abibaspro-bold";
  src: url("../assets/adineuePRO-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "abibaspro-regular";
  src: url("../assets/adineuePRO-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "abibasdin-bold";
  src: url("../assets/AdihausDIN-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "abibasdin-regular";
  src: url("../assets/AdihausDIN-Regular.woff2") format("woff2");
}

.parent {
  display: flex;
  justify-content: flex-end;
  height: 32px;
  align-items: center;
  margin: 0, auto, 0, auto;
  padding-right: 220px;
  background: linear-gradient(90deg, #000 30%, transparent 50%),
    linear-gradient(180deg, #000 0, #363738);
}

.help {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 11px;
  font-weight: lighter;
  font-family: "abibasdin-regular";
}

.help a:link {
  color: #ebedee;
  text-decoration: none;
}
.help a:visited {
  color: #ebedee;
  text-decoration: none;
}

.newsletter {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 11px;
  font-weight: bold;
  font-family: "abibasdin-bold";
}

.newsletter a:link {
  color: #ebedee;
  text-decoration: none;
  padding: 5px;
}

.newsletter a:visited {
  color: #ebedee;
  text-decoration: none;
  padding: 5px;
}

.newsletter a:hover {
  background-color: white;
  color: black;
  font-family: "abibasdin-bold";
  font-weight: bolder;
  padding: 10px 15px 10px 15px;
}

.spacer {
  height: 12px;
  width: 1px;
  position: relative;
  top: -1px;
  background-color: #767677;
}

.img1 {
  width: 30px;
  height: auto;
  vertical-align: middle;
}

.example-enter {
  height: 0px;
}

.example-enter.example-enter-active {
  height: 100px;
}

.example-leave.example-leave-active {
  height: 0px;
}
